<div class="row">
  <div class="col-12 mt-2">

    <div class="col-12 mt-4">
      <div class="container d-flex justify-content-center">
        <form class="form-inline my-2 my-lg-0 py-2 d-flex justify-content-center">
          <input (keyup)="searchEvent($event)" class="search-input form-control mr-sm-2" type="text"
            placeholder="Search">
          <button class="btn btn-success my-2 my-sm-0" type="submit">Search by Name</button>
        </form>
      </div>
    </div>

    <h2>User List</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th (click)="onColumnSelect('id')"># <i class="fa fa-sort-numeric-asc"></i></th>
          <th (click)="onColumnSelect('name')">Name <i class="fa fa-sort-alpha-asc"></i></th>
          <th (click)="onColumnSelect('email')">Email <i class="fa fa-sort-alpha-asc"></i></th>
          <th (click)="onColumnSelect('address')">Address <i class="fa fa-sort-alpha-asc"></i></th>
          <th (click)="onColumnSelect('active')">Active <i class="fa fa-sort-alpha-asc"></i></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users$ | async | filterByName: phrase | sorter:columnKey">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.address }}</td>
          <td>{{ user.active }}</td>
          <td>
            <div class="btn-group">
              <button [routerLink]="['user/' + user.id]" class="btn btn-info">
                <i class="fa fa-pencil"></i>
              </button>
              <button class="btn btn-danger" (click)="onDelete(user)">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
